<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213614368307-95l2lvv3dt4e68ns20lkk6n22ggt86cm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213614368307-95l2lvv3dt4e68ns20lkk6n22ggt86cm</string>
	<key>API_KEY</key>
	<string>AIzaSyBNCbGIJsXD8UUGzuwww4UnEEOd5cgViYE</string>
	<key>GCM_SENDER_ID</key>
	<string>213614368307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Avidi-Industries-Inc.Banter</string>
	<key>PROJECT_ID</key>
	<string>banter-1c685</string>
	<key>STORAGE_BUCKET</key>
	<string>banter-1c685.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213614368307:ios:996e33f4380117defa7546</string>
</dict>
</plist>